/* General Styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Scrollbar Container */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 10px; /* Height for horizontal scrollbar */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track background */
  border-radius: 5px; /* Rounded track */
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background-color: #F12630; /* Scrollbar color */
  border-radius: 5px; /* Rounded scrollbar */
  border: 2px solid #f1f1f1; /* Creates space around thumb */
}

/* Hover Effect on Scrollbar Thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #FFD04D; /* Darker shade on hover */
}

/*

    #F12630 RED
    #FFD04D YELLOW
    
*/

/* Error Popup Styles */
.error-popup {
  display: none; /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it is above other elements */
}

.error-content {
  background-color: #fff;
  padding: 50px 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 500px;
  width: 80%;
}

.error-content h2 {
  margin: 0 0 10px;
}

.error-content p {
  margin: 0 0 20px;
}

.error-content button {
  padding: 10px 20px;
  background-color: #F12630;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.error-content button:hover {
  transform: scale(1.05);
  background-color: #FFD04D; /* Darker shade on hover */
  font-weight: bold;
  color: rgb(30, 30, 30);
}


body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f8fa;
    color: #333;
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }

  /* Navbar */
.navbar {
    width: 100vw;
    height: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)); */
    background-color: #f7f7f7;
    position: relative;
    top: 0;
    z-index: 2;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
    /* box-shadow: none; */
    color: #f8f8f8ff;

}
.navbar .logo {
    color: #fff;
    font-size: 24px;
    display: flex;
}

.navbar .logo a img{
    height: 60px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
    font-size: 18px;
}

.nav-links a {
    /* color: #ffffff; */
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    color: #F12630;
}

.navbar-icons {
    display: flex;
    align-items: center;
}

.profile-btn, .cart-btn {
    background: none;
    border: none;
    color: #ffffff;
    margin-left: 25px;
    font-size: 20px;
    cursor: pointer;
}

#cart-count {
    background-color: #ffffff;
    color: #F12630;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 14px;
    margin-left: 8px;
}
/* Profile and Cart Icons */
.profile-icon, .cart-icon {
    cursor: pointer;
    font-size: 20px; /* Adjust icon size */
    margin-left: 20px; /* Space between icons */
}

/* Sliding User Section */
.user-section {
    position: fixed; /* Fixed positioning for sliding effect */
    top: 0;
    right: -50%; /* Start off-screen */
    width: 32%; /* Half-width */
    height: 100%;
    background-color: #f8f8f8;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease; /* Smooth transition */
    padding: 100px;
    z-index: 1000; /* Ensure it’s above other content */
}

.user-profile h2 {
    margin-bottom: 20px; /* Space below heading */
    font-size: 28px; /* Increase font size */
    color: #333; /* Heading color */
}

.dashboard-options {
    list-style-type: none;
    padding: 0;
}

.dashboard-options li {
    padding: 15px; /* Padding for each option */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.2s; /* Smooth transition */
    border-radius: 5px; /* Rounded corners */
}

.dashboard-options li:hover {
    background-color: #e0e0e0; /* Highlight on hover */
}

/* Logout Button Styles */
.logout-btn {
    margin-top: 20px; /* Space above the button */
    padding: 10px 20px; /* Padding for the button */
    background-color: #ef1e28; /* Button color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s; /* Smooth transition */
    width: 100%; /* Full width */
}

.logout-btn:hover {
    background-color: #f9464f; /* Darker shade on hover */
}

/* Sliding Cart Section */
.cart-section {
    position: fixed; /* Fixed positioning for sliding effect */
    top: 0;
    right: -50%; /* Start off-screen */
    width: 32%; /* Half-width */
    height: 100%;
    background-color: #f9f9f9;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease; /* Smooth transition */
    padding: 100px;
    z-index: 1000; /* Ensure it’s above other content */
}

/* Cart Content Styles */
/* .cart-content {
    
} */

.cart-content h2 {
    margin-bottom: 20px; /* Space below heading */
    font-size: 28px; /* Increase font size */
    color: #333; /* Heading color */
}

.cart-items {
    list-style-type: none; /* Remove default list style */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    max-height: 300px; /* Set max height for scrolling */
    overflow-y: auto; /* Enable scrolling */
}

.cart-items li {
    padding: 15px; /* Padding for each item */
    border-bottom: 1px solid #e0e0e0; /* Separator line */
    display: flex; /* Use flexbox for alignment */
    justify-content: space-between; /* Space between item and price */
    align-items: center; /* Center items vertically */
}

.checkout-btn {
    margin-top: 20px; /* Space above the button */
    padding: 10px 20px; /* Padding for the button */
    background-color: #28a745; /* Button color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s; /* Smooth transition */
    width: 100%; /* Full width */
}

.checkout-btn:hover {
    background-color: #218838; /* Darker shade on hover */
}

/* Close Button Styles */
.close-btn {
    background: none; /* No background */
    border: none; /* No border */
    font-size: 70px; /* Adjust size */
    color: #333;
    font-weight: 200; /* Close button color */
    cursor: pointer; /* Pointer cursor */
    position: absolute; /* Positioning */
    top: 20px; /* Distance from top */
    right: 20px; /* Distance from right */
    transition: color 0.3s; /* Transition for hover effect */
}

.close-btn:hover {
    color: #F12630; /* Change color on hover */
}
  
  /* Breadcrumb */
  .breadcrumb {
    padding: 15px;
    font-size: 14px;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .breadcrumb a:hover {
    text-decoration: underline;
  }
  
  /* Restaurant Header */
  .restaurant-header {
    width: 44%; /* Set width to 30% */
    min-width: 900px;
    text-align: left;
    /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
    background-color: #f7f7f7;
    color: #161616;
    padding: 35px 20px 10px 20px;
    border-radius: 0 0 15px 15px;
    margin: 0 auto 10px auto; /* Center horizontally */
  }
  
  .restaurant-header h1 {
    font-size: 36px;
    margin: 0;
    font-weight: bold;
  }
  
  /* Restaurant Info */
  .restaurant-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px auto;
    margin-bottom: 30px;
    max-width: 43%;
    min-width: 850px;
    background: #fdfdfd;
    border: 1px solid #3333335a;
    border-radius: 18px;
    box-shadow: 0px 10px 2px 8px rgba(0, 0, 0, 0.1);
  }

  .restaurant-details {
    flex: 1;
    margin-right: 20px;
  }
  
  .restaurant-info .rating-price {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: 2px auto;
  }

  .restaurant-info .rating-price .rating{
    color: #161616;
    font-size: 16px;
    font-weight: 700;
    margin-right: 5px;
  }

  .restaurant-info .rating-price .dot{
    color: #919191a2;
    font-size: 20px;
    font-weight: 700;
    margin-right: 5px;
  }
  
  .restaurant-info .rating-price .rating i{
    color: #fdd928; 
  }
  
  .cost {
    font-size: 16px;
    color: #161616;
  }
  
  .restaurant-info .details {
    text-align: left;
  
    display: flex;
    flex-direction: column;
    margin: 2px auto;
  }
  
  .restaurant-info .details span {
    font-size: 15px;
    font-weight: 600;
    color: #434343;
    margin-bottom: 5px;
  }
  .phone, .address{
    display: flex;
    align-items: center;
  } 

  .phone i, .address i{
    color: #161616;
    font-size: 16px;
    margin-right: 5px;
  }

  .restaurant-info .details span .fa-regular{
    color: #161616;
    font-size: 16px;
    margin-right: 5px;
  }
  .restaurant-image {
    flex: 0 0 200px; /* Adjust the width of the image container as needed */
}

.restaurant-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
  /* Deals Slider Carousel */
.deals-slider-carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.deals-slider-carousel h1 {
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

.deals-slider {
  width: 70%; 
  height: 100px ; 
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.deals-slider::-webkit-scrollbar {
  display: none;
}

.deal-slide {
  display: flex;
  flex: 0 0 auto;
  width: 300px;

  /* margin-right: 20px; */
  padding: 5px;
  scroll-snap-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.138);
  transition: transform 0.3s ease-in-out;
}

/* .deal-slide:hover {
  transform: scale(1.05);
} */

.deal-slide img {
  width: 70px;
  object-fit: cover;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.offer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: left;
  padding: 10px;
}
.offer-text h4 {
  font-size: 16px;
  font-weight: 900;
  color: #333;
  /* padding: 10px; */
}


/* Menu Section Styling */
.menu-section {
    padding: 20px;  
    max-width: 900px;
    margin: 20px auto;
  }
  
  .menu-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Menu Items */
  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }
  
  .menu-item:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  /* Left Column - Item Details */
  .item-details {
    width: 70%;
  }
  
  .bestseller-tag {
    font-size: 12px;
    font-weight: bold;
    color: #28a745;
    padding: 5px 10px;
    background: #dff7df;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 5px;
  }
  
  .bestseller-tag.red {
    color: #dc3545;
    background: #fde2e2;
  }
  
  h3 {
    font-size: 18px;
    margin: 5px 0;
    color: #333;
  }
  
  .price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .rating {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
  }
  
  .description {
    font-size: 12px;
    color: #555;
    line-height: 1.5;
  }
  
  /* Right Column - Item Actions */
  .item-actions {
    text-align: center;
    width: 25%;
  }
  
  .item-actions img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .add-btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .add-btn:hover {
    background: #0056b3;
  }
  
  .customizable {
    font-size: 12px;
    color: #28a745;
    margin-top: 5px;
  }
/* Add to Cart and View Cart Buttons */
.item-buttons {
  display: flex;
  /* justify-content: spa; */
  gap: 10px;
  margin-top: 10px;
}

.add-to-cart-btn, .view-cart-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn {
  background-color: #FFD04D;
  color: #333;
  font-weight: bold;
  transition: all 0.3s ease;
}

.add-to-cart-btn:hover {
  transform: scale(1.05);
}

.view-cart-btn {
  background-color: #F12630;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease;
}

.view-cart-btn:hover {
  transform: scale(1.05);
}