<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DeliveryExecutiveSignUp</servlet-name>
        <servlet-class>DeliveryExecutive.DeliveryExecutiveSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOTP</servlet-name>
        <servlet-class>Platera.VerifyOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>General.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyOTP</servlet-name>
        <url-pattern>/VerifyOTP</url-pattern>
    </servlet-mapping>
    
    <error-page>
        <error-code>404</error-code>
        <location>/src/pages/Error/404Error.html</location> <!-- Correct path -->
    </error-page>
<!--     <error-page>
        <error-code>500</error-code>
        <location>/src/pages/Error/500Error.html</location>  Correct path 
    </error-page>-->
</web-app>
