* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", serif;
    scroll-behavior: smooth;
}

body {
    background-color: #f8f8f8;
}

/* Scrollbar Container */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    height: 10px; /* Height for horizontal scrollbar */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Track background */
    border-radius: 5px; /* Rounded track */
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
    background-color: #F12630; /* Scrollbar color */
    border-radius: 5px; /* Rounded scrollbar */
    border: 2px solid #f1f1f1; /* Creates space around thumb */
}

/* Hover Effect on Scrollbar Thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: #FFD04D; /* Darker shade on hover */
}

/*

    #F12630 RED
    #FFD04D YELLOW
    
*/

/* Error Popup Styles */
.error-popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it is above other elements */
}

.error-content {
    background-color: #fff;
    padding: 50px 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 600px;
    width: 80%;
}

.error-content h2 {
    margin: 0 0 10px;
}

.error-content p {
    margin: 0 0 20px;
}

.error-content button {
    padding: 10px 20px;
    background-color: #F12630;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.error-content button:hover {
    transform: scale(1.05);
    background-color: #FFD04D; /* Darker shade on hover */
    font-weight: bold;
    color: rgb(30, 30, 30);
}

/* **********Loader*************** */
.loader {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade 5s;
    animation-fill-mode: forwards;
}

#pl {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    opacity: 1;
}

#pl .vid {
    position: relative;
    height: 300px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes fade {
    0% {
        opacity: 1;
        visibility: visible;
    }

    50% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.nav-links #active a{
    color: #F12630;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    color: #f8f8f8;
    position: absolute;
    top: 0;
    z-index: 2;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 35px; /* Added gap between logo and location dropdown */
}

.logo {
    width: 150px;
    margin-right: 15px;
}

.location-select {
    padding: 5px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #f8f8f8;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;  
}
.nav-links a:hover {
    color: #F12630;
    text-decoration: none;
}
.nav-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-icons i {
    font-size: 1.5rem;
    margin-left: 15px;
    cursor: pointer;
}

.hamburger-menu {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.mobile-menu {
    display: none;
}
/* Media Queries for different screen sizes */
@media (max-width: 992px), (max-width: 768px), (max-width: 576px) {
    .nav-links {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .mobile-menu {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: white;
    }

    .mobile-nav-links {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .mobile-nav-links li {
        border-bottom: 1px solid #ccc;
    }

    .mobile-nav-links a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: black;
    }
}

.side-section {
    position: fixed;
    top: 0;
    right: -30%;
    width: 30%;
    height: 100%;
    background-color: #fff;
    /* box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); */
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 1000;
}

.profile-section {
    background-color: #f9f9f9;
}

.cart-section {
    background-color: #e9e9e9;
}

.side-section.active {
    right: 0;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

.close-btn:hover {
    color: #000;
}

/* Search Input Styled as a Dash */
.location-search {
    padding: 5px 0;
    background: none;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    color: #f8f8f8;
    width: 170px;
    transition: width 0.3s ease;
    outline: none;
    padding-left: 7px;
    font-size: 0.9rem;
}

/* Expand search input on focus */
.location-search:focus {
    width: 200px;
    background-color: transparent;
    border-radius: 5px;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.location-search::placeholder {
    color: #f8f8f8;
    opacity: 1; /* Firefox */
}

.location-search::-ms-input-placeholder { /* Edge 12 -18 */
    color: #f8f8f8;
}

/* Select Button (Arrow) */
.select-location-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 8px;
    transition: color 0.3s ease;
}

/* Hover Effect for Button */
.select-location-btn:hover {
    color: rgba(255, 255, 255, 0.7);
}

/* Selected Location Display */
.selected-location {
    margin-left: 10px;
    color: white;
}



/* Breakpoints for responsiveness */

/* Large screens (e.g., TVs) */
@media (min-width: 1400px) {
    .navbar {
        padding: 20px 250px; /* Increased padding for larger screens */
    }
    .nav-left{
        gap: 20px; /* Increased spacing between logo and location dropdown */   
    }
    .nav-links {
        gap: 20px; /* Increased spacing between links */
    }
    .nav-icons{
        gap: 15px;
    }
}

/* Desktops */
@media (max-width: 1400px) {
    .nav-links {
        gap: 5px;
    }
}

/* Tablets */
@media (max-width: 768px) {
    /* .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        padding: 20px;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger-menu {
        display: block;
    }

    .navbar {
        padding: 10px 20px; 
    } */
}

/* Mobile phones */
@media (max-width: 480px) {
    /* .navbar {

        flex-wrap: wrap;
        padding: 20px 35px;
    }

    .search-container {
        display: none;
    }

    #selected-location{
        display: none;
    }

    .logo {
        width: 100px;
    }

    .location-select {
        width: 100%;
        margin-top: 10px;
    }

    .nav-icons {
        margin-top: 10px;
    }

    .hamburger-menu {
        margin-top: 10px;
    } */
}


/* General Banner Styling (Same as before) */
.banner {
    position: relative;
    width: 100%;
    height: 30vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: background-image 4s ease-in-out; /* Smooth transition */
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.banner h2 {
    font-size: 2.5rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);

    /* margin-bottom: 20px; */
}

.search-bar {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: #f8f8f8;
    padding: 4px;
    border-radius: 10px;
}

/* Search Bar Styling */
.search-bar select, .search-bar input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    outline: none;
}

/* Dropdown Styling */
#search-category {
    background-color: #e6e6e6;
    width: 150px;
}

#search-input {
    width: 450px;
    max-width: 100%;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
}

#search-input::placeholder {
    color: #999;
}
#search-button {
    width: 25%;
    padding: 10px 20px;
    background-color: #F12630;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease-in-out;
}


#search-button:hover {
    background-color: #FFD04D;
    opacity: 0.8;
}

.image-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 10;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.dot.active {
    background-color: #fff;
    transform: scale(1.2); /* Slight scale-up effect when active */
}

/* Background Images */
.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('./assets/slide1.png'); /* Set initial image */
    background-position: center;
    animation: slide 15s infinite;
    z-index: 1;
    transition: background-image 4s ease-in-out; /* Smooth transition */
}

/* Keyframes for Background Images */
@keyframes slide {
    0% { background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.833)), url('./assets/slide1.png'); }
    20% { background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('./assets/slide1.png'); }
    25% { background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('./assets/slide2.png'); }
    45% { background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('./assets/slide2.png'); }
    50% { background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('./assets/slide3.png'); }
    70% { background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('./assets/slide3.png'); }
    75% { background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('./assets/slide4.png'); }
    95% { background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('./assets/slide4.png'); }
    100% { background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('./assets/slide5.png'); }
}


/* Footer section */
footer{
    width: 100%;
    position: relative;
    bottom: 0;
    z-index: 1;
    /* right: 100; */
    background-color: rgb(38, 38, 38);
    color: rgb(255, 255, 255);
    padding: 100px 0 30px 0;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
footer .row{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
footer .col img{
    width: 200px;
    margin-bottom: 20px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email_id{
    width: fit-content;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 20px 0;
}
footer .col ul li{
    list-style: none;
    margin-bottom: 12px;
}
footer .col ul li a{
    text-decoration: none;
    color: #f4f4f4;
}
footer .col ul li a:hover{
    color: #FFD04D;
    transition: 0.3s;
}
footer .row .col form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 50px;
}
form #mail{
    width: 18px;
    margin-right: 10px;
    margin-bottom: 0;
}
form #send{
    width: 18px;
    margin-bottom: 0;
}

form input{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: rgb(255, 255, 255);
}
form button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.add-to-cart-btn, .view-cart-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-btn {
    background-color: #FFD04D;
    color: #333;
    font-weight: bold;
    transition: all 0.3s ease;
}

.add-to-cart-btn:hover {
    transform: scale(1.05);
}

.view-cart-btn {
    background-color: #F12630;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}

.view-cart-btn:hover {
    transform: scale(1.05);
}
.social_icon .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    color: black;
    background-color: #f4f4f4;
    margin-right: 15px;
    cursor: ponter;
}
footer hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #f4f4f4;
    margin: 20px auto;
}
footer p.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 2px;
    background-color: #767676;
    border-radius: 2px;
    position: absolute;
    top: 35px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background-color: #f4f4f4;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
#logout-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 80px;
}

.fa-solid{
    color: #f1f1f1;
    margin-right: 10px;
    font-size: 20px;
}

@keyframes moving{
    0%{
        left: -20px;
    }    
    100%{
        left: 100%;
    }
}

/* Responsive Adjustments */

/* Tablets (768px and below) */
@media (max-width: 768px) {
    .banner {
        height: 50vh;
    }

    .banner h1 {
        font-size: 2rem;
    }

    .search-bar {
        gap: 10px;
    }

    #search-category {
        padding: 10px;
        font-size: 0.9rem;
    }

    #search-input {
        width: 340px;
    }

    #search-button {
        width: 20%;
        font-size: 0.9rem;
        padding: 10px;
    }
}

/* Mobile Phones (480px and below) */
@media (max-width: 480px) {
    .banner {
        height: 40vh;
    }

    .banner-content h2 {
        font-size: 1.5rem;
    }

    .search-bar {
        gap: 10px;
    }

    #search-category {
        padding: 8px;
        font-size: 0.9rem;
    }

    #search-input {
        width: 150px;
    }

    #search-button {
        width: 80%;
        font-size: 0.9rem;
        padding: 8px;
    }

    .dot {
        width: 8px;
        height: 8px;
    }
}

/* Restaurant Section Styling */
.restaurants-section {
    padding: 50px 100px;
    text-align: center;
}

.restaurants-section h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

/* Container for Restaurant Cards */
.restaurants-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 cards per row */
    gap: 30px;
    justify-items: center;
}

/* Restaurant Card Styling */
.restaurant-card {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    padding: 20px;
    height:100%;
}
.restaurant-card-link {
    display: block;
    text-decoration: none; /* Remove default underline */
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Hide overflowed content */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for hover effects */
    width: 270px;
}

.restaurant-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.restaurant-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: black;
}

.restaurant-card p {
    margin: 5px 0;
    font-size: 1em;
    color: #666;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .restaurants-container {
        grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
    }
    /* Footer section */
    footer .row .col .social_icon .fa-brands{

        margin-right: 2px;
    }
}

@media (max-width: 992px) {
    .restaurants-container {
        grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
    }
}

@media (max-width: 768px) {
    .restaurants-container {
        grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
    }
    /* Footer section */
    footer{
        bottom: unset;
    }
    footer .col{
        flex-basis: 250%;
    }
    footer .col:nth-child(2), footer .col:nth-child(3){
        flex-basis: 100%;
    }
    footer .row .col .social_icon .fa-brands{
        margin-right: 10px;
    }
}

@media (max-width: 576px) {
    .search-bar{
        width: 80vw;
    }
    #search-category{
        width: 40%;
    }
    #search-input{
        width: 40%;
    }
    #search-button{
        width: 20%;
    }
    .restaurants-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr; /* 1 card per row on small screens */
    }

    .restaurants-section{
        padding: 50px 20px;
    }
    .restaurant-card {
        width: 100%; /* Card takes full width on mobile */
        padding: 10px;
        text-align: center;
    }

    .restaurant-card img {
        height: 200px; /* Adjust image height for smaller screens */
    }

    .restaurant-card h3 {
        font-size: 1.2em;
    }

    .restaurant-card p {
        font-size: 0.9em;
    }
    /* Footer section */
    footer{
        bottom: unset;
    }
    footer .col{
        flex-basis: 100%;
    }
    footer .col:nth-child(2), footer .col:nth-child(3){
        flex-basis: 100%;
    } 
}